<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userk">
      <h2 data-cy="userkDetailsHeading"><span>Userk</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userk.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ userk.username }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ userk.email }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ userk.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ userk.lastName }}</span>
        </dd>
        <dt><span>Tenant</span></dt>
        <dd>
          <div *ngIf="userk.tenant">
            <a [routerLink]="['/tenant', userk.tenant?.id, 'view']">{{ userk.tenant?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/userk', userk.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
